/* General Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    background-color: #007bff;
    color: white;
    padding: 1em 0;
    margin-bottom: 1em;
}

/* Button Container */
.button-container {
    margin: 2em 0;
}

button {
    padding: 1em 2em;
    margin: 1em;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

/* Navigation Buttons */
#backToDashboardBtn {
    background-color: #dc3545;
}

#addViewPatientBtn {
    background-color: #28a745;
}

.navigation-container {
    margin-top: 3em;
}

/* Canvas for Chart */



canvas {
    width: 80%; /* Medium width */
    height:40%; /* Medium height */
    margin-top: 10px;
    margin-bottom:150px ;
    margin-left:150px ;
    margin-right:150px ; /* Center it with margin */
    display: block; /* Ensures it stays aligned */
}
