body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1b4525;
    color: white;
}

.header button {
    background-color: #62a572;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.header button:hover {
    background-color: #4a8a56;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

canvas {
    max-width: 100%;
    height: 400px;
}

canvas 

{
    background-color: #555;
}



/* Highlight patient state based on their health condition */
.state-at-risk {
    background-color: rgba(255, 0, 0, 0.2); /* Light red background */
    color: red; /* Red text for better visibility */
    border-radius: 5px;
    padding: 5px;
}

.state-healthy {
    background-color: rgba(0, 255, 0, 0.2); /* Light green background */
    color: green; /* Green text for better visibility */
    border-radius: 5px;
    padding: 5px;
}
